<div return>
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow  bl-main">
        <md-subheader class="md-primary">
        <button aria-label="returntolist" viewclose link="/image" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        {{current_image.name}}
      </md-subheader>
      </div>
    </div>
  </div>
  <div class="content-table">
    <div layout="row" class="unshadow" layout-margin>
      <div flex="60" class="noshadow bl-main">
        <md-content>
          <md-tabs md-dynamic-height md-no-pagination="true" md-swipe-content="false">
            <md-tab label="简介">
              <md-content class="md-padding">
                <pre ng-bind-html="current_image.readme | toHtml"></pre>
              </md-content>
            </md-tab>
            <md-tab label="Dockfile">
              <md-content class="md-padding">
              <pre  ng-bind-html="current_image.dockerfile | toHtml"></pre>
              </md-content>
            </md-tab>
            <md-tab label="版本">
              <md-list>
              <div ng-if="!tags">
                <md-progress-circular md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="md-default-theme" style="transform: scale(1);margin: 0 auto;">
                  <div class="md-spinner-wrapper">
                    <div class="md-inner">
                      <div class="md-gap"></div>
                      <div class="md-left">
                        <div class="md-half-circle"></div>
                      </div>
                      <div class="md-right">
                        <div class="md-half-circle"></div>
                      </div>
                    </div>
                  </div>
                </md-progress-circular>
              </div>
                  <md-list-item role="listitem" ng-repeat="t in tags track by $index" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <md-icon class="fa fa-tags"></md-icon>
                      <p class="ng-binding"> {{t}} </p>
                    </div>
                  </md-list-item>
                </md-list>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
      <div flex='35'  class="noshadow">
        <md-content>
          <div style="padding:30px;text-align:center;border:1px solid #dee;margin: 30px 100px 0px 100px;">
            <md-button class="md-grid-item-content">
                <img src="../images/docker.png" style="width:auto;height:auto;" alt="">
              <!-- <div class="md-grid-text"> {{current_image.name}} </div> -->
            </md-button>
            <p>创建于{{current_image.created_at}}</p>
          </div>
          <!-- <md-tabs md-dynamic-height md-border-bottom md-no-pagination="true" md-swipe-content="false">
            <md-tab label="镜像信息">
                <md-list>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <md-icon class="fa fa-tags"></md-icon>
                      <p class="ng-binding"> Latest </p>
                    </div>
                  </md-list-item>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <md-icon class="fa fa-tags"></md-icon>
                      <p class="ng-binding"> 5.6 </p>
                    </div>
                  </md-list-item>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <md-icon class="fa fa-tags"></md-icon>
                      <p class="ng-binding"> 5.4 </p>
                    </div>
                  </md-list-item>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <md-icon class="fa fa-tags"></md-icon>
                      <p class="ng-binding"> 5.3 </p>
                    </div>
                  </md-list-item>
                </md-list>
            </md-tab>
          </md-tabs> -->
        </md-content>
      </div>
    </div>
  </div>
</div>