<div style="position:relative;">
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex="80" class="noshadow bl-main">
        <button viewload md-button class="md-raised md-button" href="/image/create-image">
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          制作镜像
        </button>
        <md-menu>
          <md-button class="md-raised" aria-label="Open phone interactions menu" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
            更多操作
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.checkVoicemail()">
                <md-icon></md-icon>
                Check voicemail
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div flex="18" class="noshadow">
        <div md-no-float class="nopaddingbot">
          <md-icon class="fa fa-search"></md-icon>
          <input ng-model="imagectrl.search" ng-keyup="searchimage($event.keyCode)" ng-change="returndefault()" type="text" placeholder="Search">
        </div>
      </div>
    </div>
  </div>
  <div class="content-table">
    <div layout="row" layout-margin>
      <div flex class="noshadow bl-main">
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom >
              <md-tab label="最近使用" ng-click="tab = 'recent';">
                <md-content class="md-padding"  id="images" style="min-height:500px">
                  <md-bottom-sheet class="md-grid images_list">
                    <md-list>
                      <md-list-item ng-repeat="item in hotitems | filter:imagectrl.search">
                        <md-button class="md-grid-item-content" data-name="{{item.name}}" ng-click="listItemClick($index,item.id)" href="/image/{{item.id}}">
                          <md-icon class="docker-images">
                            <img src="../images/docker.png" alt="">
                          </md-icon>
                          <div class="md-grid-text"> {{ item.name }} </div>
                        </md-button>
                      </md-list-item>
                    </md-list>
                    <div style="clear:both"></div>
                  </md-bottom-sheet>
                </md-content>
              </md-tab>
              <md-tab label="我的镜像"  ng-click="tab = 'mine';">
                <md-content class="md-padding"  style="min-height:500px">
                  <md-bottom-sheet class="md-grid images_list">
                    <md-list>
                      <md-list-item ng-repeat="item in items  | filter:imagectrl.search">
                        <md-button class="md-grid-item-content" data-name="{{item.name}}" ng-click="listItemClick($index,item.id)" href="/image/{{item.id}}">
                          <md-icon  class="docker-images">
                            <img src="../images/docker.png" alt="">
                          </md-icon>
                          <div class="md-grid-text"> {{ item.name }} </div>
                        </md-button>
                      </md-list-item>
                    </md-list>
                    <div style="clear:both"></div>
                  </md-bottom-sheet>
                </md-content>
              </md-tab>
              <md-tab label="镜像市场"  ng-click="tab = 'market';">
                <md-content class="md-padding"  style="min-height:500px">
                  <md-bottom-sheet class="md-grid images_list">
                    <md-list>
                      <md-list-item ng-repeat="item in markitems">
                        <md-button class="md-grid-item-content" data-name="{{item.name}}" ng-click="listItemClick($index,item.id)"  href="/image/{{item.id}}">
                          <md-icon  class="docker-images">
                            <img src="../images/docker.png" alt="">
                          </md-icon>
                          <div class="md-grid-text"> {{ item.name }} </div>
                        </md-button>
                      </md-list-item>
                    </md-list>
                    <div style="clear:both"></div>
                  </md-bottom-sheet>
                </md-content>
              </md-tab>
            </md-tabs>   
          </md-content>
      </div>
    </div>
  </div>