<div return>
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow  bl-main">
        <md-subheader class="md-primary">
        <button aria-label="returntolist" viewclose link="/log" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        {{logone.name}}
        <!-- <button md-button class="md-raised md-button"> 
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          快速构建
        </button> -->
      </md-subheader>
      </div>
    </div>
  </div>
  <div class="content-table">
    <div layout="row" layout-margin>
      <div flex class="noshadow bl-main">
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom >
              <md-tab label="构建日志">
                <md-content class="md-padding"  id="images" style="min-height:500px">
                    <div class="imagesout" ng-repeat="img in loglist|orderBy:'-star_number'" style="margin-bottom:20px;">
                      <md-list-item  class="imageitem" ng-class="(img.isopen||hasimg(img))?'background':''" ng-click="getdata(img);">
                        <span class="label label-success" ng-if="img.result=='SUCCESS'">{{img.result|i18n}}</span>
                        <span class="label label-important"  ng-if="img.result=='FAILURE'">{{img.result|i18n}}</span>
                        <span class="label label-warning"  ng-if="img.result=='ABORTED'">{{img.result|i18n}}</span>
                        <span class="label label-info"  ng-if="!img.result">{{'BUILDING'|i18n}}</span>
                        <p >{{img.created_at}}</p>
                        <md-icon style="position: absolute;top: 12px;right: 5%;font-size:2em;color:#F81A1F;" class="fa fa-times-circle" ng-if="img.result=='FAILURE'"></md-icon>
                        <md-icon style="position: absolute;top: 12px;right: 5%;font-size:2em;color:#2FBA66;" class="fa fa-check-circle" ng-if="img.result=='SUCCESS'"></md-icon>
                        <md-icon style="position: absolute;top: 12px;right: 5%;font-size:2em;color:#157EDD;" class="fa fa-spinner fa-pulse" ng-if="!img.result"></md-icon>
                        <md-icon style="position: absolute;top: 12px;right: 5%;font-size:2em;color:#EDAB21;" class="fa fa-dot-circle-o" ng-if="img.result=='ABORTED'"></md-icon>
                        <button class="md-button md-raised" ng-click="stopimage(img)" ng-if="!img.result" style="margin-right: 100px;background-color: #1680DF!important;border-bottom: 0;">停止</button>
                      </md-list-item>
                      <div ng-if="img.isopen" class="imageitemdetail">
                         <pre><code>{{img.console}}
                         </code></pre>
                      </div>
                      <md-divider></md-divider>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="持续集成">
                <md-content class="md-padding">
                </md-content>
              </md-tab>
            </md-tabs>   
          </md-content>
      </div>
    </div>
  </div>
</div>          

