<div ng-controller="prodetailctrl">
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow">
        <button  aria-label="returntolist" viewclose link="/projects" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        <button md-button class="md-raised md-primary modal__trigger" data-modal="#modal">
          <md-icon class="fa fa-trash-o fa-lg"></md-icon>
          添加Service
        </button>
        <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
          <div class="modal__dialog">
            <div class="modal__content">
              <h2>创建Service</h2>
              <div class="modal_content_inner">
              <form name="myForm">
                <md-content class="md-padding">
                  <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="基本设置">
                      <md-content class="md-padding">
                        <!-- <h1 class="md-display-2"></h1> -->
                        <md-input-container >
                          <label>Service Name</label>
                          <input ng-model="service.name" type="text" ng-required="true">
                        </md-input-container>
                        <div layout="" layout-sm="column">
                          <md-input-container flex class="noshadow">
                            <label>Image</label>
                            <md-select placeholder="内存" name="ram" ng-model="service.ram" required>
                              <md-option value="1">One</md-option>
                              <md-option value="2">Two</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                              <div ng-message="required">Required</div>
                            </div>
                          </md-input-container>
                          <div flex class="noshadow" initmodal style="padding: 29px 0px 29px 20px;">
                              <span>还没有镜像？</span><a class="md-raised md-button modal__trigger" data-modal="#imageform">创建一个</a>
                          </div>
                        </div> 
                      </md-content>
                    </md-tab>
                    <md-tab label="更多设置">
                      <md-content class="md-padding">
                        <!-- <h1 class="md-display-2"></h1> -->
                        <div layout="" layout-sm="column">
                          <md-input-container flex class="noshadow">
                            <label for="input_25">ENV</label>
                            <input ng-model="service.env" class="ng-pristine ng-valid md-input ng-touched" id="input_25" tabindex="0" aria-invalid="false" style="">
                          </md-input-container>
                          <md-input-container flex class="noshadow">
                            <label for="input_26"></label>
                            <input ng-model="user.state" class="ng-pristine ng-valid md-input ng-touched" id="input_26" tabindex="0" aria-invalid="false" style="">
                          </md-input-container>
                        </div>
                      </md-content>
                    </md-tab>
                    <md-tab label="高级设置">
                      <md-content class="md-padding">
                        <!-- <h1 class="md-display-2"></h1> -->
                        <md-input-container>
                          <label>内存</label>
                          <md-select placeholder="内存" name="ram" ng-model="service.ram" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                          </md-select>
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </md-input-container>
                        <md-input-container>
                          <label>存储</label>
                          <md-select placeholder="存储" name="ram" ng-model="service.rom" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                          </md-select>
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </md-input-container>
                        <md-input-container>
                          <label>启动个数</label>
                          <input type="number">
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </md-input-container>
                      </md-content>
                    </md-tab>
                    <md-tab label="对外服务">
                      <md-content>
                        <!-- <h1 class="md-display-2"></h1> -->

                      </md-content>
                    </md-tab>
                  </md-tabs>
                </md-content>    
                <div layout="row">
                  <md-button ng-click="clearValue()" ng-disabled="!project" style="margin-right: 20px;">清除</md-button>
                  <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
                </div>
              </form>
              </div>
              <!-- modal close button -->
              <a class="modal__close demo-close">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </div> 
        <md-menu>
          <md-button class="md-raised" aria-label="Open phone interactions menu" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
            更多操作
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.checkVoicemail()">
                <md-icon></md-icon>
                Check voicemail
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>
  <div class="content-table">
    <!-- <div style="width:150%;"> -->
      <div layout="row" class="switchdiv" layout-margin layout-padding>
        <div flex class="bl-main border" ng-click="toggleSearch=false">
          <md-subheader class="md-primary">Service</md-subheader>
          <md-table headers="headers" content="content" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" isselect="true" selected="selected" count="count"></md-table>
        </div>
        <div flex class="bl-main border" ng-click="toggleSearch=false">
          <md-subheader class="md-primary">Container</md-subheader> 
          <md-table headers="theaders" content="tcontent" sortable="tsortable" filters="search" custom-class="tcustom" thumbs="tthumbs" isselect="true" selected="tselected" count="tcount"></md-table>
        </div>
      </div>
    <!-- </div>   -->
  </div>

  <div id="imageform" class="modal modal__bg" role="dialog" aria-hidden="true">
      <div class="modal__dialog">
        <div class="modal__content">
          <h2>创建Image</h2>
          <form>
            <md-input-container>
              <label>Image Name</label>
              <input ng-model="image.name" type="text" ng-required="true">
            </md-input-container>
            <md-content class="md-padding">
              <label>代码源</label>
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="URL">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="Github">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="GitCafe">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="GitLabe">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab> 
              </md-tabs>   
            </md-content>
            <md-subheader class="md-primary">构建位置</md-subheader>
              <div layout="" layout-sm="column">
                <md-input-container flex class="noshadow">
                  <label>路径</label>
                  <input ng-model="image.name" type="text" ng-required="true">
                </md-input-container>
                <md-input-container flex class="noshadow">
                  <label>Dockerfile</label>
                  <input ng-model="image.name" type="text" ng-required="true">
                </md-input-container>
              </div>
            <md-subheader class="md-primary">发布镜像</md-subheader>
              <md-radio-group layout="" layout-sm="column" ng-model="image.group">
                <md-radio-button flex class="noshadow" value="Apple" class="md-primary">仓库</md-radio-button>
                <md-radio-button flex class="noshadow" value="Banana"> Docker Hub </md-radio-button>
                <md-radio-button flex class="noshadow" value="Mango">私有仓库</md-radio-button>
              </md-radio-group>
              <div layout="row">
                  <md-button ng-click="clearValue()" ng-disabled="!project" style="margin-right: 20px;">清除</md-button>
                  <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
              </div>
          </form>
        </div>
        <a class="modal__close demo-close">
          <i class="fa fa-times"></i>
        </a>
      </div>
  </div>
</div>          