<div return>
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow bl-main">
        <button  aria-label="returntolist" viewclose link="/stack" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="content-table">
      <div layout="row" class="switchdiv" layout-margin layout-padding>
        <div flex>
          <md-content>
              <div class="form-input" ng-class="nameifmatchreg">
                <label for="">Stack名称</label>
                <input type="text" ng-model="stackone.name" ng-required="true" md-autofocus>
              </div>
              <div class="form-input">
                <label style="float:left;" for="">StackFile</label>
                <textarea codemirror data-mode="yaml" data-read="true" name="" id="" style="width:640px;height:280px;" cols="60" rows="30"></textarea>              </div>
          </md-content>
        </div>
      </div>
    <!-- </div>   -->
  </div>

</div> 