<div return>
  <div class="content-table">
  <div layout="row" layout-margin>
    <div flex flex-order="1" class="noshadow bl-main">
        <md-subheader class="md-primary">
        <button  aria-label="returntolist" viewclose link="/columns" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        {{column}}
        <!-- <button md-button class="md-raised md-button">
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          创建快照
        </button> -->
        <button md-button class="md-raised md-button modal__trigger" data-modal="#resize">
          <md-icon class="fa fa-trash-o fa-lg"></md-icon>
          调整卷大小
        </button>
        <!-- <button md-button class="md-raised md-button">
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          删除快照
        </button> -->
      </md-subheader>
       <md-content id="imageform" class="md-padding">
          <div layout="row"  class="unshadow">
            <div flex class="noshadow">
              <md-content>
                <md-tabs md-dynamic-height md-no-pagination="true" md-swipe-content="false">
                  <md-tab label="基本信息">
                    <md-content class="md-padding">
                      <div class="noshadow" flex>
                          <p class="ng-binding"> 大小： <label for="">{{base.capacity.storage}}</label></p>
                          <!-- <p class="ng-binding"> 最小单元大小： <label for="">{{base.obj_size}}</label></p>
                          <p class="ng-binding"> 单元个数： <label for="">{{base.num_objs}}</label></p> -->
                      </div>
                    </md-content>
                  </md-tab>
                 </md-tabs> 
              </md-content>
            </div>
            <!-- <div flex="65" class="noshadow bl-main">
              <md-content>
                <md-tabs md-dynamic-height md-no-pagination="true" md-swipe-content="false">
                  <md-tab label="快照">
                    <md-content class="md-padding" id="snaplist">
                      
                    </md-content>
                  </md-tab>
                 </md-tabs> 
              </md-content>
            </div> -->
          </div>
      </md-content>
    </div>
   </div>
  <div>
</div>      
<div id="resize" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h2>调整卷大小</h2>
        <div class="modal_content_inner">
        <form name="nameForm">
          <div  class="form-input">
              <label for="">卷大小：<span>GB*</span></label>
              <input type="text" ng-model="re_size" ng-required="true">
            </div>
          <div align="right">
            <md-button ng-click="resize($event)" class="md-primary" layout layout-align="center end">更新</md-button>
          </div>
        </form>
        </div>
        <!-- modal close button -->
        <a class="modal__close demo-close">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>  