<div >
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow  bl-main">
        <button md-button class="md-raised md-button" viewload href="/columns/create-column">
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          创建存储卷
        </button>
        <button md-button class="md-raised md-warn" ng-click="deletecolumns();">
          <md-icon class="fa fa-trash-o fa-lg"></md-icon>
          删除
        </button>
        <md-menu>
          <md-button class="md-raised" aria-label="Open phone interactions menu" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
            更多操作
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.checkVoicemail()">
                <md-icon></md-icon>
                Check voicemail
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>
  <div class="content-table">
    <div layout="row" layout-margin>
      <div flex flex-order="1" class="noshadow bl-main" ng-click="toggleSearch=false" id="prolist" ng-init="loadtable($event.target)">
        <md-content class="md-padding"  id="columns" style="min-height:500px;position:static;">
          <!-- <md-bottom-sheet class="md-grid images_list"> -->
            <md-grid>
              <div ng-if="!columns">
                <md-progress-circular md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="md-default-theme" style="transform: scale(1);margin: 0 auto;">
                  <div class="md-spinner-wrapper">
                    <div class="md-inner">
                      <div class="md-gap"></div>
                      <div class="md-left">
                        <div class="md-half-circle"></div>
                      </div>
                      <div class="md-right">
                        <div class="md-half-circle"></div>
                      </div>
                    </div>
                  </div>
                </md-progress-circular>
              </div>
              <md-grid-item ng-repeat="item in columns">
                <md-button class="md-grid-item-content" viewload href="/columns/{{item}}" ng-click="listItemClick($event,item)"><!--ng-click="listItemClick($event,item)"-->
                  <md-icon class="fa fa-3x fa-hdd-o" style="width:48px"></md-icon>
                  <div class="md-grid-text"> {{ item }} </div>
                </md-button>
              </md-grid-item>
            </md-grid>
            <div style="clear:both"></div>
          <!-- </md-bottom-sheet> -->
        </md-content>
      </div>
    </div>
  </div>
</div>          
          
