<div class="header">
    <div class="navbar navbar-default">
    <!-- <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0)">Brand<div class="ripple-wrapper"></div></a>
    </div> -->
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Active<div class="ripple-wrapper"></div></a></li>
                <li><a href="javascript:void(0)">Link<div class="ripple-wrapper"></div></a></li>
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown <b class="caret"></b><div class="ripple-wrapper"></div></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                        <li><a href="javascript:void(0)">One more separated link</a></li>
                    </ul>
                </li>
            </ul> -->
            <ul class="nav navbar-nar breadcrumb">
                <li ng-repeat="b in breads track by $index" ng-class="{'active':$index==breads.length-1}">
                    <a href="{{breads.join('/').split(b)[0]+b}}" ng-if="$index!=breads.length-1">{{getidname(b,breads)||'Home' | i18n}}</a>
                    <span ng-if="$index==breads.length-1&&b">{{getidname(b,breads)||'Home' | i18n}}</span>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
               <div md-no-float class="nopaddingbot">
                  <md-icon class="fa fa-search"></md-icon>
                  <input ng-model="imagectrl.search" type="text" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="padding:6px;">
                    <md-menu md-offset="0 -7">
                      <md-button class="md-raised text-primary" aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
                        {{current_tenant.name}}
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item ng-repeat="t in tenants track by t.id">
                          <md-button ng-click="selectcurtenant(t)">
                            {{t.name}}
                          </md-button>  
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                    </a>
                </li>
                <li>
                    <a style="padding:6px;">
                        <md-menu md-position-mode="target-right target" >
                          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon class="fa fa-2x fa-user"></md-icon>
                          </md-button>
                          <md-menu-content width="2" >
                            <md-menu-item >
                              <md-button >
                                  <div layout="row">
                                    <p flex class="noshadow">{{user.username}}</p>
                                  </div>
                              </md-button>
                            </md-menu-item>
                            <md-menu-item >
                              <md-button >
                                  <div layout="row">
                                    <p flex class="noshadow">Option {{item}}</p>
                                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                                  </div>
                              </md-button>
                            </md-menu-item>
                            <md-menu-item >
                              <md-button ng-click="logout()">
                                  <div layout="row">
                                    <p flex class="noshadow">退出</p>
                                    <md-icon class="fa fa-sign-out"></md-icon>
                                  </div>
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                    </a>
                </li>
                <!-- <li><a href="javascript:void(0)">Link</a></li> -->
                <!-- <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<div class="header-relative"></div>