<div class="main" ng-if="islogin"> 
      <div ng-include src="'module/sidebar.html'"></div>
      <div id="content">
        <div ng-include src="'module/header.html'"></div> 
        <div class="inner_content animated hide">
          <div class="page-header">
            {{intro.title}} <small>{{intro.content}}</small>
          </div>
          <div ng-view></div>
        </div>
        <div class="footer">
          <div class="container" style="max-width:100%;">
            <p><span class="glyphicon glyphicon-heart"></span> Power By OPstack(LightCloud Team).</p>
          </div>
        </div>
    </div>
      </div>
<div ng-view ng-if="!islogin"></div>     