<div return>
  <div class="content-table">
  <div layout="row" layout-margin>
    <div flex flex-order="1" class="noshadow bl-main">
        <md-subheader class="md-primary">
        <button  aria-label="returntolist" viewclose link="/applications/{{app_id}}" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        实例监控({{ins_name}})
        </md-subheader>
       <md-content class="md-padding">
          <div layout="row" layout-fill>
              <div flex class="noshadow">
                <label for="">开始时间</label>
                <md-datepicker ng-model="start" md-placeholder="Enter date"></md-datepicker>
              </div>
              <div flex class="noshadow">
                <label for="">结束开始</label>
                <md-datepicker ng-model="start" md-placeholder="Enter date"></md-datepicker>
              </div>
              <a ng-click="refreshmonitor()">查询</a>
          </div>
          <div layout="row" layout-fill>
            <div flex="" id="memory_usage" style="min-height:400px;">
              
            </div>
            <div flex="" id="cpu_load" style="min-height:400px;">
              
            </div>
          </div>
          <div layout="row" layout-fill>
            <div flex="" id="input_flow" style="min-height:400px;">
              
            </div>
            <div flex="" id="output_flow" style="min-height:400px;">
              
            </div>
          </div>
      </md-content>
    </div>
   </div>
  </div>
</div>      
