<div >
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow  bl-main">
        <button md-button class="md-raised md-button" viewload href="/applications/create-app">
          <md-icon class="fa fa-cog fa-lg"></md-icon>
          创建应用
        </button>
        <!-- <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
          <div class="modal__dialog">
            <div class="modal__content">
              <h2>创建应用</h2>
              <form name="myForm">
              <p>Note that invalid styling only applies if invalid and dirty</p>
              <div >
                <label>应用名 (必填)</label>
                <input ng-model="project.name" type="text" ng-required="true">
              </div>
              <div>
                <label>项目配额</label>
                <md-select placeholder="内存" name="ram" ng-model="project.ram" required>
                  <md-option value="1">One</md-option>
                  <md-option value="2">Two</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.project.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </div>
              <div>
                <md-select placeholder="存储" name="rom" ng-model="project.rom" required>
                  <md-option value="1">One</md-option>
                  <md-option value="2">Two</md-option>
                </md-select>
                <div class="errors" ng-messages="myForm.project.$error" ng-if="myForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </div>
              <div layout="row">
                <md-button ng-click="clearValue()" ng-disabled="!project" style="margin-right: 20px;">清除</md-button>
                <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
              </div>
            </form>
              <a class="modal__close demo-close">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </div>  -->
        <button md-button class="md-raised md-warn" ng-click="deleteapp();">
          <md-icon class="fa fa-trash-o fa-lg"></md-icon>
          删除
        </button>
        <md-menu>
          <md-button class="md-raised" aria-label="Open phone interactions menu" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
            更多操作
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.checkVoicemail()">
                <md-icon></md-icon>
                Check voicemail
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon></md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>
  <div class="content-table">
    <div layout="row" layout-margin>
      <div flex flex-order="1" class="noshadow bl-main" ng-click="toggleSearch=false" id="prolist" ng-init="loadtable($event.target)">
         <div ng-if="!content">
          <md-progress-circular md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="md-default-theme" style="transform: scale(1);margin: 0 auto;">
            <div class="md-spinner-wrapper">
              <div class="md-inner">
                <div class="md-gap"></div>
                <div class="md-left">
                  <div class="md-half-circle"></div>
                </div>
                <div class="md-right">
                  <div class="md-half-circle"></div>
                </div>
              </div>
            </div>
          </md-progress-circular>
        </div>
          <!-- <md-progress-circular ng-if="!content" md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="md-default-theme" style="transform: scale(1);">
            <div class="md-spinner-wrapper">
              <div class="md-inner">
                <div class="md-gap"></div>
                <div class="md-left">
                  <div class="md-half-circle"></div>
                </div>
                <div class="md-right">
                  <div class="md-half-circle"></div>
                </div>
              </div>
            </div>
          </md-progress-circular> -->  
      </div>
    </div>
  </div>
</div>          
          
        
<!-- <div layout="row" layout-margin layout-fill layout-padding >
  <div flex class="md-raised md-pink md-button md-default-theme">I'm on the left, and there's an empty area around me.</div>
  <div flex class="md-raised md-grey md-button md-default-theme">I'm on the left, and there's an empty area around me.</div>
  <div flex class="md-raised md-light-blue md-button md-default-theme">I'm on the left, and there's an empty area around me.</div>
  <div flex id="colorful" class="md-raised md-amber md-button md-default-theme">I'm on the right, and there's an empty area around me.</div>
</div> -->

