<div return>
  <div class="button-title">
    <div layout="row" layout-margin >
      <div flex flex-order="1" class="noshadow bl-main">
        <button  aria-label="returntolist" viewclose link="/projects" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        <button ng-if="tab=='cluster'" md-button class="md-raised md-primary" viewload href="/applications/{{appone.uuid}}/create-cluter">
          <md-icon class="fa fa-plus fa-lg"></md-icon>
          添加集群
        </button>
        <button ng-show="tab=='cluster'" md-button class="md-raised md-primary modal__trigger" ng-click="ifcheckone($event)" data-modal="#resizem">
          <md-icon class="fa fa-plus fa-lg"></md-icon>
          扩容/缩容
        </button>
        <button ng-if="tab=='loadbalancer'" md-button class="md-raised md-primary" viewload href="/applications/{{appone.uuid}}/create-loadbalancer">
          <md-icon class="fa fa-plus fa-lg"></md-icon>
          添加负载均衡
        </button>
        <!-- <button md-button class="md-raised md-primary modal__trigger" data-modal="#modal">
          <md-icon class="fa fa-trash-o fa-lg"></md-icon>
          添加Service
        </button>
        <div id="modal" class="modal modal__bg" role="dialog" aria-hidden="true">
          <div class="modal__dialog">
            <div class="modal__content">
              <h2>创建Service</h2>
              <div class="modal_content_inner">
              <form name="myForm">
                <md-content class="md-padding">
                  <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="基本设置">
                      <md-content class="md-padding">
                        <div >
                          <label>Service Name</label>
                          <input ng-model="service.name" type="text" ng-required="true">
                        </div>
                        <div layout="" layout-sm="column">
                          <div flex class="noshadow">
                            <label>Image</label>
                            <md-select placeholder="内存" name="ram" ng-model="service.ram" required>
                              <md-option value="1">One</md-option>
                              <md-option value="2">Two</md-option>
                            </md-select>
                            <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                              <div ng-message="required">Required</div>
                            </div>
                          </div>
                          <div flex class="noshadow" initmodal style="padding: 29px 0px 29px 20px;">
                              <span>还没有镜像？</span><a class="md-raised md-button modal__trigger" data-modal="#imageform">创建一个</a>
                          </div>
                        </div> 
                      </md-content>
                    </md-tab>
                    <md-tab label="更多设置">
                      <md-content class="md-padding">
                        <div layout="" layout-sm="column">
                          <div flex class="noshadow">
                            <label for="input_25">ENV</label>
                            <input ng-model="service.env" class="ng-pristine ng-valid md-input ng-touched" id="input_25" tabindex="0" aria-invalid="false" style="">
                          </div>
                          <div flex class="noshadow">
                            <label for="input_26"></label>
                            <input ng-model="user.state" class="ng-pristine ng-valid md-input ng-touched" id="input_26" tabindex="0" aria-invalid="false" style="">
                          </div>
                        </div>
                      </md-content>
                    </md-tab>
                    <md-tab label="高级设置">
                      <md-content class="md-padding">
                        <div>
                          <label>内存</label>
                          <md-select placeholder="内存" name="ram" ng-model="service.ram" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                          </md-select>
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </div>
                        <div>
                          <label>存储</label>
                          <md-select placeholder="存储" name="ram" ng-model="service.rom" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                          </md-select>
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </div>
                        <div>
                          <label>启动个数</label>
                          <input type="number">
                          <div class="errors" ng-messages="myForm.service.$error" ng-if="myForm.$dirty">
                            <div ng-message="required">Required</div>
                          </div>
                        </div>
                      </md-content>
                    </md-tab>
                    <md-tab label="对外服务">
                      <md-content>

                      </md-content>
                    </md-tab>
                  </md-tabs>
                </md-content>    
                <div layout="row">
                  <md-button ng-click="clearValue()" ng-disabled="!project" style="margin-right: 20px;">清除</md-button>
                  <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
                </div>
              </form>
              </div>
              <a class="modal__close demo-close">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
        </div>  -->
        <md-menu>
          <md-button class="md-raised" aria-label="Open phone interactions menu" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin class="fa fa-caret-square-o-down"></md-icon>
            更多操作
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="remove($event)">
                <md-icon class="fa fa-trash"></md-icon>
                删除
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>
  <div class="content-table">
      <div layout="row" class="switchdiv" layout-margin layout-padding>
        <div flex="25">
            <md-subheader class="md-primary">详情</md-subheader>
            <md-content>
              <p><b>名称&nbsp;&nbsp;&nbsp;&nbsp;</b><time>{{appone.create_user}}</time></p>
              <span for=""><b>描述</b></span><br>
              <p>{{appone.describe}}</p>
              <p><b>创建于&nbsp;&nbsp;&nbsp;&nbsp;</b><time>{{appone.created_at}}</time></p>
          </md-content>
        </div>
        <div flex="70" class="bl-main" ng-click="toggleSearch=false">
          <md-tabs md-dynamic-height md-border-bottom id="cluster">
              <md-tab label="集群" ng-click="tab='cluster';changetitle('cluster')">
                <md-content class="md-padding">
                  <div id="cluter-table">
                    
                  </div> 
                </md-content>
              </md-tab>
              <md-tab label="负载均衡" ng-click="tab='loadbalancer';changetitle('loadbalancer')">
                <md-content class="md-padding">
                  <div id="lb-table">
                    
                  </div>
                </md-content>
              </md-tab>
          </md-tabs>
          
        </div>
      </div>
    <!-- </div>   -->
  </div>

  <!-- <div id="imageform" class="modal modal__bg" role="dialog" aria-hidden="true">
      <div class="modal__dialog">
        <div class="modal__content">
          <h2>创建Image</h2>
          <form>
            <div>
              <label>Image Name</label>
              <input ng-model="image.name" type="text" ng-required="true">
            </div>
            <md-content class="md-padding">
              <label>代码源</label>
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="URL">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="Github">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="GitCafe">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="GitLabe">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab> 
              </md-tabs>   
            </md-content>
            <md-subheader class="md-primary">构建位置</md-subheader>
              <div layout="" layout-sm="column">
                <div flex class="noshadow">
                  <label>路径</label>
                  <input ng-model="image.name" type="text" ng-required="true">
                </div>
                <div flex class="noshadow">
                  <label>Dockerfile</label>
                  <input ng-model="image.name" type="text" ng-required="true">
                </div>
              </div>
            <md-subheader class="md-primary">发布镜像</md-subheader>
              <md-radio-group layout="" layout-sm="column" ng-model="image.group">
                <md-radio-button flex class="noshadow" value="Apple" class="md-primary">仓库</md-radio-button>
                <md-radio-button flex class="noshadow" value="Banana"> Docker Hub </md-radio-button>
                <md-radio-button flex class="noshadow" value="Mango">私有仓库</md-radio-button>
              </md-radio-group>
              <div layout="row">
                  <md-button ng-click="clearValue()" ng-disabled="!project" style="margin-right: 20px;">清除</md-button>
                  <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
              </div>
          </form>
        </div>
        <a class="modal__close demo-close">
          <i class="fa fa-times"></i>
        </a>
      </div>
  </div> -->
</div> 
<div id="resizem" class="modal modal__bg" role="dialog" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__content">
        <h2>扩容/缩容</h2>
        <div class="modal_content_inner">
        <form name="myForm">
          <md-content class="md-padding">
            <div class="form-input">
              <label for="">当前副本数{{current_size}},调整为：</label>
              <input ng-model="resizenum" type="number" step="1" ng-required>
            </div>
            <div align="right" style="margin:10px 0 -2.4rem 0;">
              <md-button ng-click="resizem($event)" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">提交</md-button>
            </div>
        </form>
        </div>
        <a class="modal__close demo-close">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>       
<!-- <div id="container_detail" class="modal modal__bg" role="dialog" aria-hidden="true">
  <div class="modal__dialog" style="max-width: 80%;">
    <div class="modal__content">
      <h2>Container</h2>
      <div class="modal_content_inner">
        <div layout="row" class="unshadow">
          <div flex class="noshadow bl-main">
            <md-list>
              <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" style="min-height:32px;" tabindex="-1">
                <div class="md-no-style md-list-item-inner" style="padding:0;min-height:32px;">
                  <label for="">Status:</label>
                  <p class="ng-binding text-primary"> Running </p>
                </div>
              </md-list-item>
              <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" style="min-height:32px;" tabindex="-1">
                <div class="md-no-style md-list-item-inner" style="padding:0;min-height:32px;">
                  <label for="">RestartPolicy:</label>
                  <p class="ng-binding text-primary"> Never </p>
                </div>
              </md-list-item>
             </md-list> 
          </div>
          <div flex class="noshadow bl-main">
            <md-list>
              <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" style="min-height:32px;" tabindex="-1">
                <div class="md-no-style md-list-item-inner" style="padding:0;min-height:32px;">
                  <label for="">Label:</label>
                  <p class="ng-binding text-primary">  </p>
                </div>
              </md-list-item>
              <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" style="min-height:32px;" tabindex="-1">
                <div class="md-no-style md-list-item-inner" style="padding:0;min-height:32px;">
                  <label for="">App:</label>
                  <p class="ng-binding text-primary"> nginx </p>
                </div>
              </md-list-item>
             </md-list>
          </div>
        </div>
        <div layout class="unshadow">
          <div flex class="noshadow bl-main">
            <md-content>
              <md-tabs md-selected="2" md-dynamic-height md-no-pagination="true" md-swipe-content="false">
                <md-tab label="详情">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="日志">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
                <md-tab label="控制台">
                  <md-content class="md-padding" layout="row">
                    <div flex="85">
                      <terminal name="Terminal 1"></terminal>
                    </div>
                    <div flex="14" class="noshadow bl-main" style="text-align:center;">
                      <md-list>
                        <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" style="min-height:32px;" tabindex="-1">
                          <div class="md-no-style" style="padding:0;min-height:32px;">
                            <md-icon class="fa fa-arrows-h fa-4x" style="width:100%"></md-icon>
                            <p class="ng-binding" style="margin-top:0;">80/TCP</p>
                          </div>
                        </md-list-item>
                      </md-list>  
                    </div>
                  </md-content>
                </md-tab>
                <md-tab label="监控">
                  <md-content class="md-padding">
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
          </div>
      </div>
    </div>
    <a class="modal__close demo-close">
        <i class="fa fa-times"></i>
    </a>
  </div>
</div>      -->           