<div return>
<div class="content-table">
  <div layout="row" layout-margin>
    <div flex flex-order="1" class="noshadow bl-main">
        <md-subheader class="md-primary">
        <button  aria-label="returntolist" viewclose link="/applications" md-button class="md-raised md-icon-btn" ng-click="backlist();">
          <md-icon class="fa fa-arrow-left fa-lg"></md-icon>
        </button>
        创建应用</md-subheader>
       <md-content>
        <md-tabs md-selected="createstep" md-dynamic-height md-border-bottom md-stretch-tabs="always">
          <md-tab label="①镜像来源" id="image_source">
            <md-content class="md-padding" >
                <form name="nameForm">
                <md-input-container ng-class="nameifmatchreg">
                  <label for="">应用名称</label>
                  <input type="text" ng-model="app_name" ng-required="true" ng-keydown="checkname()" ng-keyup="checkname()" md-autofocus>
                </md-input-container>
                <md-list ng-cloak>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <p>选择镜像：
                        <md-radio-group class="line" ng-model="image_tag">
                          <!-- <md-radio-button value="usually" class="md-primary">常用</md-radio-button> -->
                          <!-- <md-radio-button value="stack" class="md-primary">Stack</md-radio-button> -->
                          <md-radio-button value="public" class="md-primary">公有</md-radio-button>
                          <md-radio-button value="private" class="md-primary">私有</md-radio-button>
                          <!-- <md-radio-button value="collection" class="md-primary">收藏夹</md-radio-button> -->
                          <md-radio-button value="thrd" class="md-primary">Docker/第三方镜像</md-radio-button>
                        </md-radio-group>
                        
                      </p>
                    </div>
                  </md-list-item>
                  <md-list-item role="listitem" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <div class="md-no-style md-list-item-inner">
                      <p ng-init="$parent.image_type='u'">镜像类型：
                        <md-radio-group class="line" ng-modal="image_type">
                          <md-radio-button value="u" class="md-primary">SSH服务器</md-radio-button>
                          <md-radio-button value="stack" class="md-primary">Web服务器</md-radio-button>
                          <md-radio-button value="public" class="md-primary">数据库与缓存</md-radio-button>
                          <md-radio-button value="private" class="md-primary">Library</md-radio-button>
                          <md-radio-button value="collection" class="md-primary">其他</md-radio-button>
                        </md-radio-group>
                      </p>
                    </div>
                  </md-list-item>
                  <md-divider></md-divider>
                  <md-list-item role="listitem" ng-if="image_tag=='thrd'" class="md-proxy-focus ng-scope md-clickable" tabindex="-1">
                    <md-input-container md-no-float class="nopaddingbot" style="width:50%;">
                      <md-icon class="fa fa-search" ng-click="searchimage(search_image)"></md-icon>
                      <input ng-model="search_image" type="text" style="margin:0;" placeholder="搜索镜像">
                    </md-input-container>
                  </md-list-item>
                  <md-subheader class="md-no-sticky">镜像列表</md-subheader>
                  <div ng-if="!images">
                    <md-progress-circular md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="md-default-theme" style="transform: scale(1);margin: 0 auto;">
                      <div class="md-spinner-wrapper">
                        <div class="md-inner">
                          <div class="md-gap"></div>
                          <div class="md-left">
                            <div class="md-half-circle"></div>
                          </div>
                          <div class="md-right">
                            <div class="md-half-circle"></div>
                          </div>
                        </div>
                      </div>
                    </md-progress-circular>
                  </div>
                  <div ng-repeat="img in images|orderBy:'-star_number'">
                      <md-list-item ng-click="img.isopen = !img.isopen;getdata(img);toggle(img,selected)">
                        <md-checkbox ng-checked="exists(img, selected)" ng-click="toggle(img,selected)"></md-checkbox>
                        <label>{{img.name}}</label>
                        <p ng-if="img.description">{{img.description}}</p>
                        <md-icon style="position: absolute;top: 25px;right: 100px;color:#FFC107;" class="fa fa-star" aria-label="Chat" ><span style="color:#666;margin-left:5px;">{{img.star_number||0}}</span></md-icon>
                      </md-list-item>
                      <div ng-if="img.isopen">
                          <div class="unshadow" layout="row" layout-fill layout-padding>
                            <div class="unshadow" flex>
                              <md-input-container class="nopaddingbot">
                                <label>镜像名称：</label>
                                <input ng-model="img.image" type="text" disabled="true">
                              </md-input-container>
                            </div>
                            <div class="unshadow" flex>
                              <md-input-container class="nopaddingbot">
                                <label>镜像版本：</label>
                                <md-select placeholder="镜像版本" name="ram" ng-model="img.tag" required>
                                  <md-option ng-repeat="t in hash_tags[img.image] track by $index" value="{{t}}">{{t}}</md-option>
                                </md-select>
                              </md-input-container>
                            </div>
                          </div>
                          <div class="unshadow" layout="row" layout-fill layout-padding>
                            <div class="unshadow" flex>  
                              <md-subheader class="md-no-sticky">容器配置</md-subheader>
                              <div layout layout-sm-column>
                                <md-radio-group class="line" ng-model="img.flavor">
                                  <!-- <md-radio-button value="usually" class="md-primary">常用</md-radio-button> -->
                                  <!-- <md-radio-button value="stack" class="md-primary">Stack</md-radio-button> -->
                                  <md-radio-button value="{{f.uuid}}" ng-repeat="f in flavors track by $index" class="md-primary flavo">
                                      <div class="md-label flavor">
                                        <img src="../images/flavor{{$index+1}}x.png" alt="{{$index+1}}x flavor">
                                        <div class="des">
                                            <p>内存：{{f.memory}}</p>
                                            <p>硬盘：{{f.disk}}</p>
                                        </div>
                                      </div>
                                  </md-radio-button>
                                </md-radio-group>
                              </div>
                              <md-button ng-if="!img.issave" type="button" ng-click="savetobox(img)" class="md-primary" layout layout-align="center end">保存</md-button>
                            </div>  
                          </div>
                      </div>
                  </div>
                  
                </md-list>
                <div  align="right">
                  <md-button ng-click="gostep(1)" ng-disabled="nameForm.$invalid||selected==0" class="md-primary" layout layout-align="center end">下一步</md-button>
                </div>
                </form>
            </md-content>
          </md-tab>
          <md-tab label="②容器配置" id="image_config" ng-disabled="tabs[1]">
            <md-content class="md-padding">
              <md-list>
                <div flex style="margin-bottom:15px;" ng-repeat="imcfg in images_config track by $index">
                  <md-subheader class="md-no-sticky  md-primary">{{imcfg.image}}</md-subheader>
                  <md-list-item class="md-3-line md-long-text">
                    <form name="myForm" style="width:100%;">
                      <!-- <md-input-container >
                          <label>应用名称：</label>
                          <input ng-model="imcfg.name" type="text" ng-required="true">
                      </md-input-container> -->
                      <!-- <a ng-click="imcfg.more_cfg = !imcfg.more_cfg">更多选项..</a> -->
                        <div layout="" layout-sm="column"><!-- ng-hide="!imcfg.more_cfg">-->
                          <md-input-container flex class="noshadow">
                            <label for="">环境变量(name)</label>
                            <input ng-model="imcfg.tempobj.name" type="text" placeholder="name">
                          </md-input-container>
                          <md-input-container flex class="noshadow">
                            <label for="">环境变量(value)</label>
                            <input ng-model="imcfg.tempobj.value" type="text" placeholder="value">
                          </md-input-container>
                          <a ng-click="imcfg.env.push({name:imcfg.tempobj.name,value:imcfg.tempobj.value});imcfg.tempobj = {};">添加</a>
                        </div>
                        <md-input-container> <!--ng-hide="!imcfg.more_cfg">-->
                          <table class="md-table">
                            <thead class="thead-back"><tr class="md-table-headers-row"><th class="md-table-header">键</th><th class="md-table-header">值</th><th class="md-table-header">操作</th></tr></thead>
                            <tbody>
                              <tr class="md-table-content-row" ng-repeat="e in imcfg.env track by $index">
                                <td class="md-table-content">{{e.name}}</td>
                                <td class="md-table-content">{{e.value}}</td>
                                <td class="md-table-content"><i class="fa fa-trash text-primary" ng-click="removeOneImcfgpro(e,imcfg.env)"></i></td>
                              </tr>
                            </tbody>
                          </table> 
                        </md-input-container>
                        <div layout="" layout-sm="column"><!-- ng-hide="!imcfg.more_cfg">-->
                          <md-input-container flex class="noshadow">
                            <label for="">容器端口</label>
                            <input ng-model="imcfg.portobj.port" type="text" placeholder="port">
                          </md-input-container>
                          <md-input-container flex class="noshadow left-label">
                            <label for="">协议</label>
                            <md-radio-group class="line-radio" ng-model="imcfg.portobj.protocol" ng-init="imcfg.portobj.protocol=='TCP'">
                              <md-radio-button value="TCP" class="md-primary">TCP</md-radio-button>
                              <md-radio-button value="HTTP"> HTTP </md-radio-button>
                            </md-radio-group>
                          </md-input-container>
                          <a ng-click="imcfg.ports.push({port:imcfg.portobj.port,protocol:imcfg.portobj.protocol});imcfg.portobj = {};">添加</a>
                        </div>
                        <md-input-container><!--  ng-hide="!imcfg.more_cfg">-->
                          <!-- <label for="">端口配置</label> -->
                          <table class="md-table">
                            <thead class="thead-back"><tr class="md-table-headers-row"><th class="md-table-header">容器端口</th><th class="md-table-header">协议</th><th class="md-table-header">映射端口</th><th class="md-table-header">操作</th></tr></thead>
                            <tbody>
                              <tr class="md-table-content-row" ng-repeat="p in imcfg.ports track by $index">
                                <td class="md-table-content">{{p.port}}</td>
                                <td class="md-table-content">{{p.protocol}}</td>
                                <td class="md-table-content"><em>动态生成</em></td>
                                <td class="md-table-content"><i class="fa fa-trash text-primary" ng-click="removeOneImcfgpro(p,imcfg.ports)"></i></td>
                              </tr>
                            </tbody>
                          </table>
                      </md-input-container>
                         
                    </form>
                  </md-list-item>
                  <md-divider></md-divider>
                </div>
              </md-list>
              <div align="right">
                <md-button ng-click="clearValue()" style="margin-right: 20px;">清除</md-button>
                <md-button ng-click="gostep(2)" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">保存</md-button>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="③高级配置" id="hight_config" ng-disabled="tabs[2]">
            <md-content class="md-padding">
            </md-content>
          </md-tab>
        </md-tabs>   
      </md-content>
    </div>
  </div>
</div>
</div>